:root {
	--modal-height: 150px;
}
:root,
html,
body {
    height: 100%;
    width: 100%;
    background-color: gray;
		margin: 0;
		padding: 0;
		overflow: hidden;
}
.game-container {
	background-color: white;
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	width: min(400px, 40vw);
	aspect-ratio: 1 / 1;
	border-radius: 15px;
	margin: auto;
	margin-top: auto;
}
.row {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
}
.cell {
	border: 2px solid rgb(100,100,100,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	color: rgb(50,50,50);
	text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
	cursor: grab;
}
.gameOver-modal {
	width: 100%;
	height: var(--modal-height);
	display: flex;
	position: absolute;
	bottom: calc(var(--modal-height) * -1);
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #5b7c99;
}
@keyframes slideIn {
	from {bottom: calc(var(--modal-height) * -1)}
	to {bottom: 0px}
}
@keyframes slideOut {
	from {bottom: 0px}
	to {bottom: calc(var(--modal-height) * -1)}
}

.gameOver-text {
	font-size: 3rem;
	margin: 12px;

}
.newGame-button {
	font-size: 1.3rem;
	margin: 12px;
	height: 40px;
	border-radius: 15px;
	border: none;
}
.newGame-button:hover {
	background-color: #ff8c42;
	transition: 0.6s ease;
	transform: translateY(-4px) scale(1.05);
	box-shadow: 0px 6px 7px #ff8a4257;
}